body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #2c3e50;
    background-color: #ecf0f1;
}

#header {
    margin: 30px auto;
}

#wrap {
    height: auto !important;
    margin: 0 0 -40px 0;
    min-height: 100%;
}

#push, #footer {
    height: 40px;
}

#footer {
    background-color: #004F88;
    margin-top: 20px;
}
